################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/SHB-Engine
/Game/Resources1.0006/levels
/Game/Resources1.0006/sounds
/Game/Resources1.0006/textures
/Game/ResourcesOGSM2.4.3/levels
/Game/ResourcesOGSM2.4.3/sounds
/Game/ResourcesOGSM2.4.3/textures
